html{
scroll-behavior: smooth;

}

* {
box-sizing: border-box;

}

body {
    width: 100vh;
    height: auto;
    min-height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

}